.leaflet-container {
  width: 100vw;
  height: 100vh;
}


#ContentFormLogin{
  width: 65%;
  padding: 25px;
  justify-content: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 6;
}

#ContentFormRegister{
  width: 65%;
  padding: 25px;
  justify-content: center;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 6;
}

.bg-infos{
  background-color: rgb(239, 234, 234);
}

.bg-fondos{
  background-color: rgb(17, 33, 124);
}

